# --- Python caches ---
__pycache__/
*.py[cod]
*$py.class

# --- MyPy ---
.mypy_cache/

# --- Pytest ---
.pytest_cache/
.coverage
htmlcov/

# --- Pylint/Ruff ---
.pylint.d/
.ruff_cache/

# --- Virtualenv / venv ---
.venv/
env/
venv/

# --- Build / dist ---
build/
dist/
*.egg-info/

# --- IDE / Editor ---
.vscode/
.idea/

# --- OS specific ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log